<p id="flash"><%= notice %></p>
<%= form_for(@page, :url => url_for(:controller => 'edit_page/pages', :action => 'update', :id => @page.id)) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<p><%= link_to "cancel", url_for(:contoller => 'edit_page/pages', :action => 'show', :id => @page.id) %></p>
<p><a href='#'>Delete</a></p>