<p><strong>Pages</strong></p>
  <ul>
  <% @pages.each do |p| %>
    <p><%= link_to p.title, url_for(:controller => 'edit_page/pages', :action => 'show', :id => p.id) %></p>
  <% end %>
  </ul>
<div id='admin_new_page'><%= link_to "New Page", url_for(:controller => 'edit_page/pages', :action => 'new') %></div>