<strong>Pages</strong>
<p>
  <ul>
  <% @pages.each do |p| %>
    <%= link_to p.title, url_for(:controller => 'edit_page/pages', :action => 'show', :id => p.id) %><br />
  <% end %>
  </ul>
</p>
<p><%= link_to "New Page", url_for(:controller => 'edit_page/pages', :action => 'new') %></p>