<p id="success"><%= notice %></p>
<%= form_for @page, :url => url_for(:controller => 'edit_page/pages', :action => 'create') do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<p><%= link_to "cancel", url_for(:contoller => 'edit_page/pages', :action => 'index') %></p>