<%= render 'shared/searchfull' %>
<div id="orange-bar-full"><h1>ABOUT 2-1-1</h1></div>

<div id="body-wrapper-full">
    	<div id="body-content-full">
					<div id="body_text">
<h5>What Is 2-1-1?</h5>
<p>United Way 2-1-1 is an easy-to-remember, three-digit number that families and individuals in Minnesota and western Wisconsin (Douglas, Pierce, Polk and St. Croix counties) can call to obtain free and confidential information on health and human services. 2-1-1 call centers are staffed 24/7 by trained Information and Referral Specialists who quickly assess needs and refer callers to the help that they seek.<img style="padding: 10px 0 10px 10px" src="/images/map_web.jpg" width="350" height="396" align="right" alt="Map" border="0"></p>

<h5>2-1-1 offers information on a broad range of services, including:</h5> 
<br><br>
<ul>
<li>Basic Needs</li>
<li>Consumer</li>
<li>Criminal Justice and Legal</li>
<li>Education</li>
<li>Environmental and Public Health/Safety</li>
<li>Health Care</li>
<li>Income Support and Employment</li>
<li>Individual and Family Life</li>
<li>Mental Health and Community/International</li>
<li>Organizational/Community/International</li>
<li>Target Populations</li>
</ul>
<br><br>
<p>More than 80 percent of the United States has access to 2-1-1, along with several areas of Canada. For more information on the national 2-1-1, visit <a href="http://www.211US.org">www.211US.org</a>. </p>

<h5>Search the 2-1-1 Online Database</h5>
<p>Minnesota's comprehensive 2-1-1 database offers individuals and professionals access to more than 40,000 programs and services. Users can search the database quickly and efficiently using various criteria, including service category, agency/organization name, or key word. The online directory is continually being updated with new information on agencies and services.</p>

<h5>2-1-1 in Minnesota</h5>
<p>Currently, there are five call center hubs and six resource hubs across the state with a shared database containing more than 40,000 resources. Greater Twin Cities United Way funds and operates the largest call center in the state, covering the Metro region and most of the southern region. Since Minnesota first started using 2-1-1 in 2002, more than two million referrals have been made. Approximately 50 percent of calls are inquiries regarding basic needs such as food, shelter and transportation. For more information on the other 2-1-1 call centers in Minnesota, click on the statewide map.</p>

<h5>Role of 2-1-1 in Crisis Recovery Efforts</h5>
<p>In the event of a natural or public disaster, 2-1-1 works with local emergency management and disaster relief organizations to provide the public with information on resources not only during the disaster, but also throughout long-term recovery efforts.</p>


					</div>
			</div>

</div>	
<div id="bottom-shadow"></div>





