 <%= render 'shared/searchfull' %>
<div id="orange-bar-full"><h1>Contact Us</h1></div>

<div id="body-wrapper-full">
    	<div id="body-content-full">
					<div id="body_text">
 							<div id="contact_box">
							<p>Families or individuals who need help or are seeking information about health and human services and resources in their area should call <strong>2-1-1</strong>.</p>
<p>If you are a professional interested in being added to the database or sponsoring the United Way <strong>2-1-1</strong> website, contact <strong>651-291-0211</strong>.<br /><br />
  To obtain general information about United Way <strong>2-1-1</strong>, read through Frequently Asked Questions or visit us at <a class="home_link" href="http://www.unitedwaytwincities.org">www.unitedwaytwincities.org</a>.</p> 
							<br><br>
							

							</div>
					</div>
			</div>

</div>	
<div id="bottom-shadow"></div>





