<script type="text/javascript">
  animatedcollapse.addDiv('q1', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q2', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q3', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q4', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q5', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q6', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q7', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q8', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q9', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q10', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q11', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q12', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q13', 'fade=0,speed=400,group=pets')
  animatedcollapse.addDiv('q14', 'fade=0,speed=400,group=pets')

  animatedcollapse.ontoggle=function($, divobj, state){ //fires each time a DIV is expanded/contracted
  	//$: Access to jQuery
  	//divobj: DOM reference to DIV being expanded/ collapsed. Use "divobj.id" to get its ID
  	//state: "block" or "none", depending on state
  }
  animatedcollapse.init();
</script>

<%= render 'shared/searchfull' %>


 <div id="body-wrapper">

 	<div id="body-container">
   	<div id="body-content">
     	<div id="orange-bar">
     	  <h1>FREQUENTLY ASKED QUESTIONS</h1></div>
       <div id="body-left-faq">
       	<div id="faq-description">Below you will find a list of Frequently Asked Questions (FAQ) that provide additional information about United Way 2-1-1, available services and the search database. If you are unable to find an answer to your question or need additional information, please <a class="home_link" href="/contact">contact us</a>.</div>

         <div id="faq-container">

<p><a href="#" rel="toggle[q1]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. What is United Way 2-1-1?</a></p>

<div id="q1" style="width: 620px; margin-left:12px; margin-bottom:10px">
United Way 2-1-1 is an easy-to-remember, three-digit number that families and individuals can call to obtain free and confidential information on health and human services and resources within their community.
</div>



<p><a href="#" rel="toggle[q2]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. What hours is United Way 2-1-1 available?</a></p>

<div id="q2" style="width: 620px; margin-left:12px; margin-bottom:10px">
2-1-1 is available 24 hours a day, seven days a week, 365 days a year.
</div>



<p><a href="#" rel="toggle[q3]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. What areas does United Way 2-1-1 serve?</a></p>

<div id="q3" style="width: 620px; margin-left:12px; margin-bottom:10px">
The entire state of Minnesota, as well as Douglas, Pierce, Polk and St. Croix counties in western Wisconsin.  
</div>

<p><a href="#" rel="toggle[q4]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. What services does United Way 2-1-1 offer access to?</a></p>

<div id="q4" style="width: 620px; margin-left:12px; margin-bottom:10px">
2-1-1 offers information on a range of services, including childcare, counseling, education, emergency preparedness, employment, energy assistance, food, health care, housing, legal help, parenting resources, transportation and much more.
</div>

<p><a href="#" rel="toggle[q5]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. Are any onsite services available?</a></p>

<div id="q5" style="width: 620px; margin-left:12px; margin-bottom:10px">
211 services are provided online and over the phone. We do offer speaking engagements, workshops, presentations and health/resource fairs for the purposes of educating people about 211. 
</div>

<p><a href="#" rel="toggle[q6]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. What role does 2-1-1 play in the event of a disaster?</a></p>

<div id="q6" style="width: 620px; margin-left:12px; margin-bottom:10px">
In the event of a natural or public disaster, 2-1-1 serves as a means of collecting and disseminating information on resources and post-disaster assistance.
</div>

<p><a href="#" rel="toggle[q7]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. What types of organizations are included in the database?</a></p>

<div id="q7" style="width: 620px; margin-left:12px; margin-bottom:10px">
Both nonprofit and for-profit organizations that provide health or human services are able to join the database, along with government entities, civic associations and advocacy groups. 
</div>

<p><a href="#" rel="toggle[q8]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. How can an agency or organization be included in the database?</a></p>

<div id="q8" style="width: 620px; margin-left:12px; margin-bottom:10px">
Agencies and organizations must meet the inclusion/exclusion criteria in order to be included in the database. Call 2-1-1 for more information or click here for a New Agency Form.
</div>

<p><a href="#" rel="toggle[q9]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. How do I know that the agencies United Way recommends are legitimate?</a></p>

<div id="q9" style="width: 620px; margin-left:12px; margin-bottom:10px">
United Way asks for agencies employee identification numbers (EIN), which are used to identify businesses. Services that are run on a volunteer-basis are vetted; if complaints are received about a particular service, we follow up and will remove it from the database if necessary.  
</div>
<p><a href="#" rel="toggle[q10]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. Is the information accessed via the online database the same that would be received over the phone?</a></p>

<div id="q10" style="width: 620px; margin-left:12px; margin-bottom:10px">
Yes, the online database is the same database used by the Information and Referral Specialists. Information and Referral Specialists are available 24/7 for inquirers to contact if they need help searching the online database or locating information on the website.
</div>
<p><a href="#" rel="toggle[q11]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. What outreach services does United Way 2-1-1 provide?</a></p>

<div id="q11" style="width: 620px; margin-left:12px; margin-bottom:10px">
2-1-1 is available for speaking engagements, workshops, presentations and health/resource fairs.  
</div>
<p><a href="#" rel="toggle[q12]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. Are there any restrictions on who can call or use the online database?</a></p>

<div id="q12" style="width: 620px; margin-left:12px; margin-bottom:10px">
No, the United Way 2-1-1 service is available for anyone in need.  
</div>
<p><a href="#" rel="toggle[q13]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. Is 2-1-1 available in languages other than English?</a></p>

<div id="q13" style="width: 620px; margin-left:12px; margin-bottom:10px">
2-1-1 has multilingual speakers on staff and also uses an interpreter service.
</div>
<p><a href="#" rel="toggle[q14]" data-openimage="images/opened.jpg" data-closedimage="images/closed.jpg"><img src="images/opened.jpg" border="0" />Q. How is United Way 2-1-1 funded? </a></p>

<div id="q14" style="width: 620px; margin-left:12px; margin-bottom:10px">
United Way 2-1-1 centers receive funding from a variety of sources, including local United Ways, community foundations and local government funds. In Minnesota, 90 percent of funding comes from local United Ways. 
</div>
         </div>
       </div>

     </div>

<%= render 'shared/sponsor_slideshow' %>

   </div>  
 	<div id="bottom-shadow2"></div>
  </div>
</div>
