 <%= render 'shared/searchfull' %>
<div id="orange-bar-full"><h1>Terms and Conditions</h1></div>

<div id="body-wrapper-full">
    	<div id="body-content-full">
					<div>

<p class="general_content">&copy; Copyright 2009 Greater Twin Cities United Way.  All rights reserved.  No part of this database may be reproduced, stored in a retrieval system or transmitted in any form or by any means - electronic, mechanical, photocopying, recording or otherwise - without the written permission of Greater Twin Cities United Way.</p>

<p class="general_content_header">Endorsement Disclaimer</p>


<p class="general_content">Inclusion of an organization and information about its programs and services on this website does not imply endorsement by United Way 2-1-1, nor does exclusion indicate lack of endorsement or disapproval.</p><br>


<p class="general_content_header">External Links</p>


<p class="general_content">External links may be provided for your convenience; however, they are beyond the control of United Way 2-1-1, and no representation is made as to their content. Use or reliance on any external links and the content thereon provided is at your own risk.</p><br>


<p class="general_content_header">Inclusion/Exclusion Policy</p>


<p class="general_content">Inclusion in the United Way 2-1-1 database is free and unrelated to whether an organization is a partner or sponsor of United Way 2-1-1. United Way 2-1-1 reserves the right to exclude or discontinue listings for organizations that have had serious complaints lodged against them with any regulatory body, organizations in the database providing similar services or United Way 2-1-1.</p><br>



<p class="general_content_header">Security/Usability</p>


<p class="general_content">United Way 2-1-1 cannot guarantee compatibility or functionality with any specific user browsers or Internet service providers (ISP). United Way 2-1-1 does not warrant that the function of this website will be uninterrupted or error-free, defects will be corrected, or this website or its server is free of viruses or other harmful components.</p><br>


<p class="general_content_header">Trademarks</p>


<p class="general_content">The trademarks, names, logos and service marks displayed on this website are registered and unregistered trademarks of United Way 2-1-1. Nothing contained on this website should be construed as granting any license or right to use any trademark without the prior written permission of United Way 2-1-1.</p><br>




<p class="general_content">United Way 2-1-1 retains the right to modify this disclaimer, as well as the operational practices and functionality of this website at any time, and at its sole discretion. If United Way 2-1-1 opts to change the Terms and Conditions, it will post the changes where appropriate.</p><br>









					</div>
			</div>

</div>	
<div id="bottom-shadow"></div>







