<!DOCTYPE html>
<html>
<head>
  <title>EditPage</title>
  <%= stylesheet_link_tag    "edit_page/application" %>
  <%= javascript_include_tag "edit_page/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
